.recentlyAddedBooks {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 15px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.book {
    width: 250px;
    height: 400px;
}

.book img {
    width: 240px;
    height: 330px;
    margin-left: 5px;
}

.recentlyAddedText , .bookOfTheText{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: larger;
}

.allButton {
    background: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.allButtonDiv {
    display: flex;
    justify-content: center;
}

.bookOfTHeweek {
    display: flex;
    justify-content: center;
}

.bookOfTheWeekDiv {
    width: 1430px;
    height: 520px;
    background: #E9DAC1;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
}

.bookOfTheWeekSection img {
    height: 520px;
}

.bookName {
    font-size: larger;
    margin-bottom: 2px;
}

.titleSelectPArt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleSelectPArt select {
    outline: none;
    width: 100px;
    height: 25px;
    margin-right: 20px;
}

.authorName {
    font-size:small;
    color: gray;
}