.pagesLinks:hover , .pagesLinks:active {
    font-size: 110%;
    color: #54BAB9;
}

.searchButton:hover {
    width: 65px;
    height: 65px;
    margin-right: 5px;
}

@keyframes grandirOpacity0 {
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes leftToRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.headerCircle {
    animation: grandirOpacity0 1s ease-in 1 forwards;
}

.homePageMainText {
    animation: leftToRight 4s ease-in 1 forwards;
}

.singinRegister:hover {
    width: 80px;
    height: 35px;
    margin: 0;
    font-size: medium;
}

.welcomeText {
    animation: grandirOpacity0 3s ease-in 1 forwards;
}

.registerLink:hover , .loginLink:hover{
    font-size: larger;
    text-decoration: underline;
}

.forgetPassword:hover , .createLinkAccount:hover {
    text-decoration: underline;
}

.submitButton:hover {
    font-size: large;
    width: 410px;
    height: 32px;
    margin-top: 18px;
    box-shadow: 1px 1px 5px black;
}

.quickLoginButton:hover {
    font-size: large;
    width: 410px;
    height: 32px;
    gap : 18px;
    box-shadow: 1px 1px 5px black;
    padding-left: 100px;
}

.allButton:hover {
    width: 110px;
    height: 32px;
    margin-top: 17px;
    box-shadow: 1px 1px 5px black;
}

.book:hover {
    border: 1px solid white;
    box-shadow: 1px 1px 4px black;
    border-radius: 10px;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
.book:hover {
    animation: pulse 1s infinite;
}

@keyframes zoomIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.bookOfTheWeekDiv {
    opacity: 0;
    transform: scale(0);
    animation: zoomIn 1.5s ease-out forwards;
}