.requsestBookDiv {
    width: 1430px;
    height: 520px;
    background: #E9DAC1;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 6em;
    margin-right: 6em;

}

.requsestBookDiv form {
    display: grid;
    grid-template-columns: repeat(2 , 3fr);
    gap: 20px;
    padding-top: 100px;
}

.requsestBookDiv div {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 20px;
}

.requsestBookDiv input {
    width: 600px;
    height: 35px;
    border: 2px black solid;
    border-left: 7px #54BAB9 solid;
    margin-top: 10px;
    outline: none;
}

.requsestBookDiv button {
    margin-top: 40px;
    width: 150px;
    height: 35px;
    border-radius: 7px;
    background: none;
    border: 2px #54BAB9 solid;
    cursor: pointer;
}

.requestBookButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
}