.welcomeText {
    font-size: 60px;
    text-align: center;
    opacity: 0;
    transform: translateZ(-50px);
}

.welcomeWord {
    color: #54BAB9;
}

.codeWord {
    color: #251FD4;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 405px;
}